
<h2><%= @station.name %></h2>

<% @station.departures.each do |departure| %>
  <h3><%= departure.destination.name %></h3>

  <ul class="info">
    <% departure.estimates.each do |estimate| %>
      <li>
        <%= estimate.time.strftime("%I:%M%P") %>
        (<%= estimate.minutes %> mins)
        (Platform <%= estimate.platform %>)
      </li>
    <% end %>
  </ul>
<% end %>
